@model StudentEvaluationSystem.Models.Utility.ClassTeacherEdit
@inject  StudentEvaluationSystem.Data.ApplicationDbContext context
@{
    ViewData["Title"] = "Edit";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Edit</h2>
                <p>Class - @Model.Name</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="border p-4" style="border-radius:10px;;width:80%;margin-left:10%">
            <form method="post">
                <input asp-for="ClassId" class="form-control" hidden />
                <input asp-for="ClassTeacherId" class="form-control" hidden />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row form-group">
                    <div class="col-md-2"> <label asp-for="Name"></label></div>
                    <div class="col-md-6"><input asp-for="Name" class="form-control" /></div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"> <label asp-for="CategoryId"></label></div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(c => c.CategoryId
                   , new SelectList(context.Categories.ToList(), "Id", "Name"),
                   "--Select Category--", new { @class = "form-control" })
                    </div>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"> <label asp-for="TeacherId"></label></div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(c => c.TeacherId
                   , new SelectList(context.Teachers.ToList(), "Id", "FullName"),
                   "--Select Category--", new { @class = "form-control" })
                    </div>
                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                </div>
                <br />
                <partial name="~/Views/Partial/_FormEditButtonPartial.cshtml" model="@("Edit")" />
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

