@model string
<a asp-action="Index" class="btn btn-primary">Back to list</a>
<button type="submit" class="btn btn-success" asp-action="@Model" style="background-color:#28a745!important;color:#fff">Update</button>