@model int
<td>
    <div class="btn-group" style="float:right;">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model" style="font-size:20px;"><i class="icon-more" style="font-size:20px;"></i></a>
    </div>
</td>