@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

    <div class="site-section">
        <h1 class="p-4 container">@ViewData["Title"]</h1>
        <h4 class="p-4 container">Enter your email.</h4>
        <hr />
        <div class="row">
            <div class="border p-4" style="border-radius:10px;box-shadow:0px 10px 10px #ccc;width:40%;margin-left:30%">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
